# This is Git's per-user configuration file.
[include]
	path = ~/.gitconfig_local
[format]
	pretty = "%H %ci %ae %d %s"
[color]
	ui = auto
[alias]
	vis = !gitk --all
    olog = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	s = status -s
	sb = status -sb
[merge]
	tool = kdiff3
[merge "tool"]
	path = /bin/kdiff3
[user]
	name = Tony Do
	email = tdo@kopismobile.com
[core]
	editor = nvim
[credential]
	helper = store
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
